{{! Item Consumível Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  <div class="item-consumivel-header">
    <h3><i class="fas fa-flask"></i> {{localize "CARDIGAN.ItemConsumivel.Title"}}</h3>
    <p class="item-subtitle">{{localize "CARDIGAN.ItemConsumivel.Subtitle"}}</p>
  </div>

  <div class="backpack-form-section">
    <div class="form-group">
      <label>{{localize "CARDIGAN.ItemConsumivel.Quantity"}}</label>
      <div class="form-fields">
        <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" min="1"/>
        <span class="unit">{{localize "CARDIGAN.ItemConsumivel.Units"}}</span>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "CARDIGAN.Weight"}}</label>
      <select name="system.weight">
        <option value="muito-leve" {{selected system.weight "muito-leve"}}>{{localize "CARDIGAN.WeightVeryLight"}}</option>
        <option value="leve" {{selected system.weight "leve"}}>{{localize "CARDIGAN.WeightLight"}}</option>
        <option value="medio" {{selected system.weight "medio"}}>{{localize "CARDIGAN.WeightMedium"}}</option>
        <option value="pesado" {{selected system.weight "pesado"}}>{{localize "CARDIGAN.WeightHeavy"}}</option>
        <option value="muito-pesado" {{selected system.weight "muito-pesado"}}>{{localize "CARDIGAN.WeightVeryHeavy"}}</option>
      </select>
    </div>
  </div>

  <div class="backpack-form-section">
    <div class="form-group">
      <label>{{localize "CARDIGAN.ItemConsumivel.Type"}}</label>
      <div class="form-fields">
        <select name="system.consumableType" data-dtype="String">
          <option value="potion" {{#if (eq system.consumableType "potion")}}selected{{/if}}>
            {{localize "CARDIGAN.ItemConsumivel.Types.Potion"}}
          </option>
          <option value="food" {{#if (eq system.consumableType "food")}}selected{{/if}}>
            {{localize "CARDIGAN.ItemConsumivel.Types.Food"}}
          </option>
          <option value="scroll" {{#if (eq system.consumableType "scroll")}}selected{{/if}}>
            {{localize "CARDIGAN.ItemConsumivel.Types.Scroll"}}
          </option>
          <option value="medicine" {{#if (eq system.consumableType "medicine")}}selected{{/if}}>
            {{localize "CARDIGAN.ItemConsumivel.Types.Medicine"}}
          </option>
          <option value="bomb" {{#if (eq system.consumableType "bomb")}}selected{{/if}}>
            {{localize "CARDIGAN.ItemConsumivel.Types.Bomb"}}
          </option>
          <option value="other" {{#if (eq system.consumableType "other")}}selected{{/if}}>
            {{localize "CARDIGAN.ItemConsumivel.Types.Other"}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "CARDIGAN.ItemConsumivel.Price"}}</label>
      <div class="form-fields">
        <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number" min="0"/>
        <span class="unit">{{localize "CARDIGAN.Currency.Gold"}}</span>
      </div>
    </div>
  </div>

  <div class="backpack-form-section">
    <div class="form-group">
      <label>{{localize "CARDIGAN.ItemConsumivel.Duration"}}</label>
      <div class="form-fields">
        <input type="text" name="system.duration" value="{{system.duration}}" placeholder="Instantâneo, 1 hora, etc"/>
      </div>
    </div>
  </div>
</section>