{{! Item Comum Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  <div class="common-item-top-fields">
    <div class="common-item-properties-content">
      <div class="common-item-type-selector-grid">
        <button type="button" class="common-item-type-selector-btn" data-profession="general" data-tooltip="{{localize 'CARDIGAN.ItemIngredient.Professions.General'}}" data-tooltip-class='cardigan-tooltip' {{#if (eq system.profession "general")}}data-selected{{/if}}>
          <img src="systems/cardigan/assets/images/profession/icon-profession.webp" alt="{{localize 'CARDIGAN.ItemIngredient.Professions.General'}}" title="{{localize 'CARDIGAN.ItemIngredient.Professions.General'}}" />
        </button>
        <button type="button" class="common-item-type-selector-btn" data-profession="alchemy" data-tooltip="{{localize 'CARDIGAN.ItemIngredient.Professions.Alchemy'}}" data-tooltip-class='cardigan-tooltip' {{#if (eq system.profession "alchemy")}}data-selected{{/if}}>
          <img src="systems/cardigan/assets/images/profession/icon-alchemy.svg" alt="{{localize 'CARDIGAN.ItemIngredient.Professions.Alchemy'}}" title="{{localize 'CARDIGAN.ItemIngredient.Professions.Alchemy'}}" />
        </button>
        <button type="button" class="common-item-type-selector-btn" data-profession="blacksmithing" data-tooltip="{{localize 'CARDIGAN.ItemIngredient.Professions.Blacksmithing'}}" data-tooltip-class='cardigan-tooltip' {{#if (eq system.profession "blacksmithing")}}data-selected{{/if}}>
          <img src="systems/cardigan/assets/images/profession/icon-blacksmithing.svg" alt="{{localize 'CARDIGAN.ItemIngredient.Professions.Blacksmithing'}}" title="{{localize 'CARDIGAN.ItemIngredient.Professions.Blacksmithing'}}" />
        </button>
        <button type="button" class="common-item-type-selector-btn" data-profession="culinary" data-tooltip="{{localize 'CARDIGAN.ItemIngredient.Professions.Culinary'}}" data-tooltip-class='cardigan-tooltip' {{#if (eq system.profession "culinary")}}data-selected{{/if}}>
          <img src="systems/cardigan/assets/images/profession/icon-culinary.svg" alt="{{localize 'CARDIGAN.ItemIngredient.Professions.Culinary'}}" title="{{localize 'CARDIGAN.ItemIngredient.Professions.Culinary'}}" />
        </button>
        <button type="button" class="common-item-type-selector-btn" data-profession="tailoring" data-tooltip="{{localize 'CARDIGAN.ItemIngredient.Professions.Tailoring'}}" data-tooltip-class='cardigan-tooltip' {{#if (eq system.profession "tailoring")}}data-selected{{/if}}>
          <img src="systems/cardigan/assets/images/profession/icon-tailoring.svg" alt="{{localize 'CARDIGAN.ItemIngredient.Professions.Tailoring'}}" title="{{localize 'CARDIGAN.ItemIngredient.Professions.Tailoring'}}" />
        </button>
        <button type="button" class="common-item-type-selector-btn" data-profession="tecnomagic" data-tooltip="{{localize 'CARDIGAN.ItemIngredient.Professions.Tecnomagic'}}" data-tooltip-class='cardigan-tooltip' {{#if (eq system.profession "tecnomagic")}}data-selected{{/if}}>
          <img src="systems/cardigan/assets/images/profession/icon-technomagic.svg" alt="{{localize 'CARDIGAN.ItemIngredient.Professions.Tecnomagic'}}" title="{{localize 'CARDIGAN.ItemIngredient.Professions.Tecnomagic'}}" />
        </button>
      </div>
    </div>

    <div class="common-item-price-content">
      <div class="common-item-extra-property common-item-price-property">
        <div class="common-item-extra-content">
          <img class="common-item-extra-icon" src="systems/cardigan/assets/images/decorative/icons/icon-coins.svg" alt="{{localize 'CARDIGAN.Price'}}" data-tooltip="Preço" data-tooltip-class='cardigan-tooltip' />
          <div class="common-item-price-input-wrapper common-item-extra-panel" data-common-item-extra-panel="price">
            <input type="number" name="system.price" value="{{system.price}}" min="0" placeholder="0"/>
          </div>
        </div>
      </div>
    </div>

    <div class="common-item-price-content common-item-weight-content">
      <div class="common-item-extra-property common-item-price-property">
        <div class="common-item-extra-content">
          <img class="common-item-extra-icon" src="systems/cardigan/assets/images/decorative/icons/icon-weight.svg" alt="{{localize 'CARDIGAN.Weight'}}" data-tooltip="Peso" data-tooltip-class='cardigan-tooltip' />
          <div class="common-item-price-input-wrapper common-item-extra-panel" data-common-item-extra-panel="weight">
            <input type="text" class="common-item-weight-display" value="-" placeholder="-" readonly/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" name="system.profession" value="{{system.profession}}" data-dtype="String"/>
  <input type="hidden" name="system.weight" value="{{system.weight}}" data-dtype="String"/>
  <input type="hidden" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" min="1"/>
</section>