{{!-- Recipe Item Template --}}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="attributes">
  
  <div class="recipe-details-form">
    
    {{!-- Basic Information --}}
    <fieldset class="recipe-section">
      <legend>{{localize "CARDIGAN.Item.ItemRecipe.basic.title"}}</legend>
      
      <div class="form-group">
        <label for="system.recipeType">{{localize "CARDIGAN.Item.ItemRecipe.recipeType.label"}}</label>
        <select name="system.recipeType">
          <option value="general" {{#if (eq system.recipeType "general")}}selected{{/if}}>{{localize "CARDIGAN.Item.ItemRecipe.recipeType.general"}}</option>
          <option value="culinary" {{#if (eq system.recipeType "culinary")}}selected{{/if}}>{{localize "CARDIGAN.Item.ItemRecipe.recipeType.culinary"}}</option>
          <option value="tailoring" {{#if (eq system.recipeType "tailoring")}}selected{{/if}}>{{localize "CARDIGAN.Item.ItemRecipe.recipeType.tailoring"}}</option>
          <option value="tecnomagic" {{#if (eq system.recipeType "tecnomagic")}}selected{{/if}}>{{localize "CARDIGAN.Item.ItemRecipe.recipeType.tecnomagic"}}</option>
          <option value="blacksmithing" {{#if (eq system.recipeType "blacksmithing")}}selected{{/if}}>{{localize "CARDIGAN.Item.ItemRecipe.recipeType.blacksmithing"}}</option>
          <option value="alchemy" {{#if (eq system.recipeType "alchemy")}}selected{{/if}}>{{localize "CARDIGAN.Item.ItemRecipe.recipeType.alchemy"}}</option>
          <option value="carpentry" {{#if (eq system.recipeType "carpentry")}}selected{{/if}}>{{localize "CARDIGAN.Item.ItemRecipe.recipeType.carpentry"}}</option>
        </select>
      </div>
    </fieldset>

  </div>

</section>