{{! Skill Details Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class="skill-details-form">
    
    {{! Skill Type Section }}
    <fieldset class="skill-section">
      <legend>{{localize "CARDIGAN.Item.Skill.Type"}}</legend>
      
      <div class="form-group">
        <label for="system.skillType">{{localize "CARDIGAN.Item.Skill.Type"}}</label>
        <select name="system.skillType" data-dtype="String">
          <option value="general" {{#if (eq system.skillType "general")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Types.General"}}</option>
          <option value="extra" {{#if (eq system.skillType "extra")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Types.Extra"}}</option>
        </select>
      </div>
    </fieldset>

  </div>
</section>