{{! Skill Attributes Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class="skill-details-form">
    
    {{! Skill Type Section }}
    <fieldset class="skill-section">
      <legend>{{localize "CARDIGAN.Item.Skill.Type"}}</legend>
      
      <div class="form-group">
        <label for="system.skillType">{{localize "CARDIGAN.Item.Skill.Type"}}</label>
        <select name="system.skillType" data-dtype="String">
          {{selectOptions config.CARDIGAN.skillTypes selected=system.skillType localize=true}}
        </select>
      </div>
    </fieldset>

    {{! Skill Description Section }}
    <fieldset class="skill-section">
      <legend>{{localize "CARDIGAN.Item.Skill.Description"}}</legend>
      
      <div class="form-group">
        <label for="system.skillDescription">{{localize "CARDIGAN.Item.Skill.SkillDescription"}}</label>
        <textarea 
          name="system.skillDescription" 
          rows="6" 
          data-dtype="String"
          placeholder="{{localize 'CARDIGAN.Item.Skill.DescriptionPlaceholder'}}"
        >{{system.skillDescription}}</textarea>
      </div>
    </fieldset>

  </div>
</section>