{{! Skill Details Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class="skill-details-form">
    
    {{! Skill Classification Section }}
    <fieldset class="skill-section">
      <legend>Skill Classification</legend>
      
      <div class="form-group skill-action-types">
        <div class="action-types-header">
          <label>{{localize "CARDIGAN.Item.Skill.ActionTypes"}}</label>
          <button type="button" class="add-action-type-btn" data-action="addSkillActionType" title="{{localize 'CARDIGAN.AddActionType'}}">+</button>
        </div>
        
        <div class="action-types-list" data-action-types-container>
          {{#if system.skillActionTypes.length}}
            {{#each system.skillActionTypes as |actionType index|}}
              <div class="action-type-row" data-action-type-index="{{index}}">
                <select name="system.skillActionTypes.{{index}}" data-action-type-select>
                  <option value="">{{localize "CARDIGAN.SelectActionType"}}</option>
                  <option value="general" {{selected actionType "general"}}>{{localize "CARDIGAN.Item.Skill.Types.General"}}</option>
                  <option value="extra" {{selected actionType "extra"}}>{{localize "CARDIGAN.Item.Skill.Types.Extra"}}</option>
                  <option value="active" {{selected actionType "active"}}>{{localize "CARDIGAN.Item.Skill.Types.Active"}}</option>
                  <option value="foco" {{selected actionType "foco"}}>{{localize "CARDIGAN.Item.Skill.Types.Foco"}}</option>
                  <option value="deslocamento" {{selected actionType "deslocamento"}}>{{localize "CARDIGAN.Item.Skill.Types.Deslocamento"}}</option>
                  <option value="passiva" {{selected actionType "passiva"}}>{{localize "CARDIGAN.Item.Skill.Types.Passiva"}}</option>
                  <option value="simples" {{selected actionType "simples"}}>{{localize "CARDIGAN.Item.Skill.Types.Simples"}}</option>
                  <option value="reacao" {{selected actionType "reacao"}}>{{localize "CARDIGAN.Item.Skill.Types.Reacao"}}</option>
                  <option value="postura" {{selected actionType "postura"}}>{{localize "CARDIGAN.Item.Skill.Types.Postura"}}</option>
                  <option value="iniciativa" {{selected actionType "iniciativa"}}>{{localize "CARDIGAN.Item.Skill.Types.Iniciativa"}}</option>
                </select>
                <button type="button" class="remove-action-type-btn" data-action="removeSkillActionType" data-index="{{index}}" title="{{localize 'CARDIGAN.RemoveActionType'}}">−</button>
              </div>
            {{/each}}
          {{else}}
            <div class="action-type-row" data-action-type-index="0">
              <select name="system.skillActionTypes.0" data-action-type-select>
                <option value="">{{localize "CARDIGAN.SelectActionType"}}</option>
                <option value="general">{{localize "CARDIGAN.Item.Skill.Types.General"}}</option>
                <option value="extra">{{localize "CARDIGAN.Item.Skill.Types.Extra"}}</option>
                <option value="active">{{localize "CARDIGAN.Item.Skill.Types.Active"}}</option>
                <option value="foco">{{localize "CARDIGAN.Item.Skill.Types.Foco"}}</option>
                <option value="deslocamento">{{localize "CARDIGAN.Item.Skill.Types.Deslocamento"}}</option>
                <option value="passiva">{{localize "CARDIGAN.Item.Skill.Types.Passiva"}}</option>
                <option value="simples">{{localize "CARDIGAN.Item.Skill.Types.Simples"}}</option>
                <option value="reacao">{{localize "CARDIGAN.Item.Skill.Types.Reacao"}}</option>
                <option value="postura">{{localize "CARDIGAN.Item.Skill.Types.Postura"}}</option>
                <option value="iniciativa">{{localize "CARDIGAN.Item.Skill.Types.Iniciativa"}}</option>
              </select>
              <button type="button" class="remove-action-type-btn" data-action="removeSkillActionType" data-index="0" title="{{localize 'CARDIGAN.RemoveActionType'}}">−</button>
            </div>
          {{/if}}
        </div>
      </div>

      <div class="form-group">
        <label for="system.skillClass">{{localize "CARDIGAN.Item.Skill.Class"}}</label>
        <select name="system.skillClass" data-dtype="String">
          <option value="andarilho" {{#if (eq system.skillClass "andarilho")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Andarilho"}}</option>
          <option value="guerreiro" {{#if (eq system.skillClass "guerreiro")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Guerreiro"}}</option>
          <option value="ladino" {{#if (eq system.skillClass "ladino")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Ladino"}}</option>
          <option value="feiticeiro" {{#if (eq system.skillClass "feiticeiro")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Feiticeiro"}}</option>
          <option value="raciais" {{#if (eq system.skillClass "raciais")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Raciais"}}</option>
          <option value="unicas" {{#if (eq system.skillClass "unicas")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Unicas"}}</option>
        </select>
      </div>
    </fieldset>

    {{! Energy Cost Section }}
    <fieldset class="skill-section">
      <legend>Energy Settings</legend>
      
      <div class="form-group">
        <label for="system.hasEnergyCost">
          <input type="checkbox" name="system.hasEnergyCost" data-dtype="Boolean" {{#if system.hasEnergyCost}}checked{{/if}}>
          {{localize "CARDIGAN.Item.Skill.HasEnergyCost"}}
        </label>
      </div>

      {{#if system.hasEnergyCost}}
      <div class="form-group">
        <label for="system.energyCost">{{localize "CARDIGAN.Item.Skill.EnergyCost"}}</label>
        <input type="number" name="system.energyCost" value="{{system.energyCost}}" data-dtype="Number" min="0" step="1">
      </div>
      {{/if}}
    </fieldset>

    {{! Custom Effects Section }}
    <fieldset class="skill-section">
      <legend>{{localize "CARDIGAN.Item.Skill.CustomEffects"}}</legend>
      
      <div class="form-group">
        <label for="system.hasCustomEffects">
          <input type="checkbox" name="system.hasCustomEffects" data-dtype="Boolean" {{#if system.hasCustomEffects}}checked{{/if}}>
          {{localize "CARDIGAN.Item.Skill.HasCustomEffects"}}
        </label>
      </div>

      {{#if system.hasCustomEffects}}
      <div class="form-group">
        <button type="button" data-action="configureSkillEffects" data-tooltip="{{localize 'CARDIGAN.Item.Skill.ConfigureEffects'}}">
          <i class="fas fa-cog"></i> {{localize "CARDIGAN.Item.Skill.ConfigureEffects"}}
        </button>
      </div>

      {{#if system.customEffects.length}}
      <div class="selected-effects">
        <h4>{{localize "CARDIGAN.Item.Skill.SelectedEffects"}}</h4>
        <div class="effects-list">
          {{#each system.customEffects}}
          <div class="effect-item">
            <img src="{{img}}" alt="{{name}}" width="24" height="24">
            <span>{{name}}</span>
          </div>
          {{/each}}
        </div>
      </div>
      {{else}}
      <div class="no-effects">
        <em>{{localize "CARDIGAN.Item.Skill.NoEffectsSelected"}}</em>
      </div>
      {{/if}}
      {{/if}}
    </fieldset>

  </div>
</section>