<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='enhancements'
>
  <div class="skill-enhancements-tab">
    <div class="enhancements-container">
      
      <div class="enhancement-item">
        <div class="enhancement-header">
          <h3>
            {{#if system.enhancements.0.name}}
              {{system.enhancements.0.name}}
            {{else}}
              {{localize "CARDIGAN.Item.Skill.Enhancement1"}}
            {{/if}}
          </h3>
          <button type="button" data-action="configureEnhancement1" class="enhancement-config-btn">
            <i class="fas fa-cog"></i> {{localize "CARDIGAN.Item.Skill.Configure"}}
          </button>
        </div>
        <div class="enhancement-description">
          {{#if enrichedEnhancements.0.description}}
            {{{enrichedEnhancements.0.description}}}
          {{else}}
            <em>{{localize "CARDIGAN.Item.Skill.NoEnhancementConfigured"}}</em>
          {{/if}}
        </div>
      </div>

      <div class="enhancement-item">
        <div class="enhancement-header">
          <h3>
            {{#if system.enhancements.1.name}}
              {{system.enhancements.1.name}}
            {{else}}
              {{localize "CARDIGAN.Item.Skill.Enhancement2"}}
            {{/if}}
          </h3>
          <button type="button" data-action="configureEnhancement2" class="enhancement-config-btn">
            <i class="fas fa-cog"></i> {{localize "CARDIGAN.Item.Skill.Configure"}}
          </button>
        </div>
        <div class="enhancement-description">
          {{#if enrichedEnhancements.1.description}}
            {{{enrichedEnhancements.1.description}}}
          {{else}}
            <em>{{localize "CARDIGAN.Item.Skill.NoEnhancementConfigured"}}</em>
          {{/if}}
        </div>
      </div>

      <div class="enhancement-item">
        <div class="enhancement-header">  
          <h3>
            {{#if system.enhancements.2.name}}
              {{system.enhancements.2.name}}
            {{else}}
              {{localize "CARDIGAN.Item.Skill.Enhancement3"}}
            {{/if}}
          </h3>
          <button type="button" data-action="configureEnhancement3" class="enhancement-config-btn">
            <i class="fas fa-cog"></i> {{localize "CARDIGAN.Item.Skill.Configure"}}
          </button>
        </div>
        <div class="enhancement-description">
          {{#if enrichedEnhancements.2.description}}
            {{{enrichedEnhancements.2.description}}}
          {{else}}
            <em>{{localize "CARDIGAN.Item.Skill.NoEnhancementConfigured"}}</em>
          {{/if}}
        </div>
      </div>

    </div>
  </div>
</section>