{{! Skill Details Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  <div class="skill-details-form">
    
    {{! Skill Classification Section }}
    <fieldset class="skill-section">
      <legend>Skill Classification</legend>
      
      <div class="form-group skill-action-types">
        <div class="action-types-header">
          <label>{{localize "CARDIGAN.Item.Skill.ActionTypes"}}</label>
          <button type="button" class="add-action-type-btn" data-action="addSkillActionType" title="{{localize 'CARDIGAN.AddActionType'}}">+</button>
        </div>
        
        <div class="action-types-list" data-action-types-container>
          {{#if system.skillActionTypes.length}}
            {{#each system.skillActionTypes as |actionType index|}}
              <div class="action-type-row" data-action-type-index="{{index}}">
                <select name="system.skillActionTypes.{{index}}" data-action-type-select>
                  <option value="">{{localize "CARDIGAN.SelectActionType"}}</option>
                  <option value="passive" {{selected actionType "passive"}}>{{localize "CARDIGAN.Item.Skill.Types.Passive"}}</option>
                  <option value="long-action" {{selected actionType "long-action"}}>{{localize "CARDIGAN.Item.Skill.Types.LongAction"}}</option>
                  <option value="focus" {{selected actionType "focus"}}>{{localize "CARDIGAN.Item.Skill.Types.Focus"}}</option>
                  <option value="short-action" {{selected actionType "short-action"}}>{{localize "CARDIGAN.Item.Skill.Types.ShortAction"}}</option>
                  <option value="reaction" {{selected actionType "reaction"}}>{{localize "CARDIGAN.Item.Skill.Types.Reaction"}}</option>
                </select>
                <button type="button" class="remove-action-type-btn" data-action="removeSkillActionType" data-index="{{index}}" title="{{localize 'CARDIGAN.RemoveActionType'}}">−</button>
              </div>
            {{/each}}
          {{else}}
            <div class="action-type-row" data-action-type-index="0">
              <select name="system.skillActionTypes.0" data-action-type-select>
                <option value="">{{localize "CARDIGAN.SelectActionType"}}</option>
                <option value="passive">{{localize "CARDIGAN.Item.Skill.Types.Passive"}}</option>
                <option value="long-action">{{localize "CARDIGAN.Item.Skill.Types.LongAction"}}</option>
                <option value="focus">{{localize "CARDIGAN.Item.Skill.Types.Focus"}}</option>
                <option value="short-action">{{localize "CARDIGAN.Item.Skill.Types.ShortAction"}}</option>
                <option value="reaction">{{localize "CARDIGAN.Item.Skill.Types.Reaction"}}</option>
              </select>
              <button type="button" class="remove-action-type-btn" data-action="removeSkillActionType" data-index="0" title="{{localize 'CARDIGAN.RemoveActionType'}}">−</button>
            </div>
          {{/if}}
        </div>
      </div>

      <div class="form-group">
        <label for="system.skillClass">{{localize "CARDIGAN.Item.Skill.Class"}}</label>
        <select name="system.skillClass" data-dtype="String">
          <option value="wanderer" {{#if (eq system.skillClass "wanderer")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Wanderer"}}</option>
          <option value="warrior" {{#if (eq system.skillClass "warrior")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Warrior"}}</option>
          <option value="rogue" {{#if (eq system.skillClass "rogue")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Rogue"}}</option>
          <option value="sorcerer" {{#if (eq system.skillClass "sorcerer")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Sorcerer"}}</option>
          <option value="racial" {{#if (eq system.skillClass "racial")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Racial"}}</option>
          <option value="unique" {{#if (eq system.skillClass "unique")}}selected{{/if}}>{{localize "CARDIGAN.Item.Skill.Classes.Unique"}}</option>
        </select>
      </div>

      {{#if (eq system.skillClass "sorcerer")}}
      <div class="form-group spell-categories">
        <div class="spell-categories-header">
          <label>{{localize "CARDIGAN.Item.Skill.SpellCategories"}}</label>
          <button type="button" class="add-spell-category-btn" data-action="addSpellCategory" title="{{localize 'CARDIGAN.AddSpellCategory'}}">+</button>
        </div>
        
        <div class="spell-categories-list" data-spell-categories-container>
          {{#if system.spellCategories.length}}
            {{#each system.spellCategories as |category index|}}
              <div class="spell-category-row" data-spell-category-index="{{index}}">
                <select name="system.spellCategories.{{index}}" data-spell-category-select>
                  <option value="">{{localize "CARDIGAN.SelectSpellCategory"}}</option>
                  <option value="neutral" {{selected category "neutral"}}>{{localize "CARDIGAN.Item.Skill.SpellCategory.Neutral"}}</option>
                  <option value="fae" {{selected category "fae"}}>{{localize "CARDIGAN.Item.Skill.SpellCategory.Fae"}}</option>
                  <option value="chaos" {{selected category "chaos"}}>{{localize "CARDIGAN.Item.Skill.SpellCategory.Chaos"}}</option>
                  <option value="necromancy" {{selected category "necromancy"}}>{{localize "CARDIGAN.Item.Skill.SpellCategory.Necromancy"}}</option>
                </select>
                <button type="button" class="remove-spell-category-btn" data-action="removeSpellCategory" data-index="{{index}}" title="{{localize 'CARDIGAN.RemoveSpellCategory'}}">−</button>
              </div>
            {{/each}}
          {{else}}
            <div class="spell-category-row" data-spell-category-index="0">
              <select name="system.spellCategories.0" data-spell-category-select>
                <option value="">{{localize "CARDIGAN.SelectSpellCategory"}}</option>
                <option value="neutral">{{localize "CARDIGAN.Item.Skill.SpellCategory.Neutral"}}</option>
                <option value="fae">{{localize "CARDIGAN.Item.Skill.SpellCategory.Fae"}}</option>
                <option value="chaos">{{localize "CARDIGAN.Item.Skill.SpellCategory.Chaos"}}</option>
                <option value="necromancy">{{localize "CARDIGAN.Item.Skill.SpellCategory.Necromancy"}}</option>
              </select>
              <button type="button" class="remove-spell-category-btn" data-action="removeSpellCategory" data-index="0" title="{{localize 'CARDIGAN.RemoveSpellCategory'}}">−</button>
            </div>
          {{/if}}
        </div>
      </div>
      {{/if}}
    </fieldset>

    {{! Energy Cost Section }}
    <fieldset class="skill-section">
      <legend>Energy Settings</legend>
      
      <div class="form-group">
        <label for="system.hasEnergyCost">
          <input type="checkbox" name="system.hasEnergyCost" data-dtype="Boolean" {{#if system.hasEnergyCost}}checked{{/if}}>
          {{localize "CARDIGAN.Item.Skill.HasEnergyCost"}}
        </label>
      </div>

      {{#if system.hasEnergyCost}}
      <div class="form-group">
        <label for="system.energyCost">{{localize "CARDIGAN.Item.Skill.EnergyCost"}}</label>
        <input type="number" name="system.energyCost" value="{{system.energyCost}}" data-dtype="Number" min="0" step="1">
      </div>
      {{/if}}
    </fieldset>

    {{! Custom Effects Section }}
    <fieldset class="skill-section">
      <legend>{{localize "CARDIGAN.Item.Skill.CustomEffects"}}</legend>
      
      <div class="form-group">
        <label for="system.hasCustomEffects">
          <input type="checkbox" name="system.hasCustomEffects" data-dtype="Boolean" {{#if system.hasCustomEffects}}checked{{/if}}>
          {{localize "CARDIGAN.Item.Skill.HasCustomEffects"}}
        </label>
      </div>

      {{#if system.hasCustomEffects}}
      <div class="form-group">
        <button type="button" data-action="configureSkillEffects" >
          <i class="fas fa-cog"></i> {{localize "CARDIGAN.Item.Skill.ConfigureEffects"}}
        </button>
      </div>

      {{#if system.customEffects.length}}
      <div class="selected-effects">
        <h4>{{localize "CARDIGAN.Item.Skill.SelectedEffects"}}</h4>
        <div class="effects-list">
          {{#each system.customEffects}}
          <div class="effect-item">
            <img src="{{img}}" alt="{{name}}" width="24" height="24">
            <span>{{name}}</span>
          </div>
          {{/each}}
        </div>
      </div>
      {{else}}
      <div class="no-effects">
        <em>{{localize "CARDIGAN.Item.Skill.NoEffectsSelected"}}</em>
      </div>
      {{/if}}
      {{/if}}
    </fieldset>

    {{! Linked Skills Section }}
    <fieldset class="skill-section">
      <legend>{{localize "CARDIGAN.Item.Skill.LinkedSkills"}}</legend>
      
      <div class="form-group">
        <label for="system.hasLinkedSkills">
          <input type="checkbox" name="system.hasLinkedSkills" data-dtype="Boolean" {{#if system.hasLinkedSkills}}checked{{/if}}>
          {{localize "CARDIGAN.Item.Skill.HasLinkedSkills"}}
        </label>
      </div>

      {{#if system.hasLinkedSkills}}
      <div class="form-group">
        <button type="button" data-action="configureLinkedSkills" >
          <i class="fas fa-link"></i> {{localize "CARDIGAN.Item.Skill.ConfigureLinkedSkills"}}
        </button>
      </div>

      {{#if system.linkedSkills.length}}
      <div class="selected-skills">
        <h4>{{localize "CARDIGAN.Item.Skill.SelectedSkills"}}</h4>
        <div class="skills-list">
          {{#each system.linkedSkills}}
          <div class="skill-item">
            <img src="{{img}}" alt="{{name}}" width="24" height="24">
            <span>{{name}}</span>
          </div>
          {{/each}}
        </div>
      </div>
      {{else}}
      <div class="no-skills">
        <em>{{localize "CARDIGAN.Item.Skill.NoSkillsSelected"}}</em>
      </div>
      {{/if}}
      {{/if}}
    </fieldset>

  </div>
</section>