{{!-- armor-info-badges.hbs: badges de informação para armaduras --}}
{{!-- Parâmetro: item --}}
{{#if item.system.stylish}}
  <div class='stlish stylish info-badge'>
    <img
      src='systems/cardigan/assets/images/decorative/icons/icon-stylish.svg'
      alt='{{localize "CARDIGAN.Stylish"}}'
      class='information-icon'
      width='20'
      height='20'
    />
  </div>
{{/if}}

{{#if (gte item.system.coldResistance 1)}}
  <div class='weather info-badge'>
    <img
      src='systems/cardigan/assets/images/decorative/icons/icon-weather.svg'
      alt='{{localize "CARDIGAN.ColdResistance"}}'
      class='information-icon'
      width='20'
      height='20'
    />
    <div class='bonus-display'>
      <span class='bonus-value'>+{{item.system.coldResistance}}</span>
    </div>
  </div>
{{/if}}

{{#if item.system.backpackBonus.enabled}}
  <div class='backpack info-badge'>
    <img
      src='systems/cardigan/assets/images/decorative/icons/icon-backpack.svg'
      alt='{{localize "CARDIGAN.BackpackSpaceBonus"}}'
      class='information-icon'
      width='20'
      height='20'
    />
    <div class='bonus-display'>
      <span class='bonus-value'>+{{item.system.backpackBonus.bonus}}</span>
    </div>
  </div>
{{/if}}

{{#if item.system.magicalArtifact}}
  <div class='paranormal-artifact info-badge'>
    <img
      src='systems/cardigan/assets/images/decorative/icons/icon-paranormal-artifact.svg'
      alt='{{localize "CARDIGAN.MagicalArtifact"}}'
      class='information-icon'
      width='20'
      height='20'
    />
  </div>
{{/if}}

{{#each item.system.skillBonuses as |skillBonus|}}
  {{#if (and skillBonus.skill skillBonus.bonus (not (eq skillBonus.bonus 0)))}}
    <div class='skill-bonus info-badge'>
      <div class='bonus-display'>
        <span class='bonus-value'>
          {{#if (gt skillBonus.bonus 0)}}+{{skillBonus.bonus}}{{else}}{{skillBonus.bonus}}{{/if}}
          {{#if (eq skillBonus.skill "accuracy")}}PRE{{/if}}
          {{#if (eq skillBonus.skill "evasion")}}EVA{{/if}}
          {{#if (eq skillBonus.skill "strength")}}FOR{{/if}}
          {{#if (eq skillBonus.skill "dexterity")}}DES{{/if}}
          {{#if (eq skillBonus.skill "stamina")}}VIG{{/if}}
          {{#if (eq skillBonus.skill "stealth")}}FUR{{/if}}
          {{#if (eq skillBonus.skill "persuasion")}}PER{{/if}}
          {{#if (eq skillBonus.skill "intelligence")}}INT{{/if}}
          {{#if (eq skillBonus.skill "psionics")}}PSI{{/if}}
        </span>
      </div>
    </div>
  {{/if}}
{{/each}}

{{#if item.system.movementBonus.enabled}}
  <div class='movement-bonus info-badge'>
    <img
      src='systems/cardigan/assets/images/decorative/icons/icon-movement.svg'
      alt='{{localize "CARDIGAN.MovementBonus"}}'
      class='information-icon'
      width='20'
      height='20'
    />
    <div class='bonus-display'>
      <span class='bonus-value'>+{{item.system.movementBonus.bonus}}</span>
    </div>
  </div>
{{/if}}

{{#if (gte item.system.energyBonus 1)}}
  <div class='energy-bonus info-badge'>
    <img
      src='systems/cardigan/assets/images/decorative/icons/icon-energy.svg'
      alt='{{localize "CARDIGAN.Energy"}}'
      class='information-icon'
      width='20'
      height='20'
    />
    <div class='bonus-display'>
      <span class='bonus-value'>+{{item.system.energyBonus}}</span>
    </div>
  </div>
{{/if}}

{{#if (gte item.system.protection 1)}}
  <div class='protection info-badge'>
    <img
      src='systems/cardigan/assets/images/decorative/icons/icon-armor.svg'
      alt='{{localize "CARDIGAN.Protection"}}'
      class='information-icon'
      width='20'
      height='20'
    />
    <div class='bonus-display'>
      <span class='bonus-value'>+{{item.system.protection}}</span>
    </div>
  </div>
{{/if}}
