{{!-- durability-display.hbs: conteúdo do bloco de durabilidade (icon toggle + inputs/display) --}}
{{!-- Parâmetro: item --}}
<a
  class='item-control toggle-durability-display'
  data-action='toggleDurabilityDisplay'
  data-tooltip='CARDIGAN.Durability'
  data-tooltip-class='cardigan-tooltip'
>
  <img
    src='systems/cardigan/assets/images/decorative/icons/icon-durability.svg'
    alt='Durabilidade'
    class='durability-icon'
    width='18'
    height='18'
  />
</a>
{{#if @root.editable}}
  <div class='durability-display'>
    <span class='durability-values'>
      <input
        type='number'
        class='durability-input durability-current'
        name='items.{{item._id}}.system.durability.current'
        value='{{item.system.durability.current}}'
        min='0'
        max='{{item.system.durability.max}}'
        data-dtype='Number'
      />
      <img
        src='systems/cardigan/assets/images/decorative/field-divider.svg'
        alt='/'
        class='durability-separator-icon'
      />
      <input
        type='number'
        class='durability-input durability-max durability-max-input'
        name='items.{{item._id}}.system.durability.max'
        value='{{item.system.durability.max}}'
        min='0'
        data-dtype='Number'
        readonly
      />
    </span>
  </div>
{{else}}
  <span title='Durabilidade'>
    {{item.system.durability.current}}/{{item.system.durability.max}}
  </span>
{{/if}}
