{{!-- weapon-reload-ammo.hbs: wrapper de reload e display de munição para itens ranged/firearm --}}
{{!-- Parâmetros: item --}}
<div class='item-reload-ammunition-wrapper'>
  <div class='item-reload'>
    {{#unless item.system.isUnarmed}}
      {{#if (or item.system.ranged item.system.isFirearm)}}
        {{#if @root.editable}}
          <a
            class='item-control manage-ammunition'
            data-tooltip='Gerenciar Munição'
            data-tooltip-class='cardigan-tooltip'
            data-action='manageAmmunition'
            data-item-id='{{item._id}}'
          >
            <img
              src='systems/cardigan/assets/images/decorative/icons/icon-recharge.svg'
              alt='Recarregar'
              class='reload-icon'
              width='20'
              height='20'
            />
          </a>
        {{else}}
          <img
            src='systems/cardigan/assets/images/decorative/icons/icon-recharge.svg'
            alt='Reload'
            class='reload-icon-readonly'
            width='20'
            height='20'
            title='Reload'
          />
        {{/if}}
      {{/if}}
    {{/unless}}
  </div>
  {{#unless item.system.isUnarmed}}
    {{#if (or item.system.ranged item.system.isFirearm)}}
      <div class='item-ammunition'>
        {{#if item.system.isFirearm}}
          <span class='ammunition-firearm ammunition-display' data-weapon-id='{{item._id}}'>
            <span class='ammunition-current'>{{item.system.loadedAmmo}}</span>
            <img
              src='systems/cardigan/assets/images/decorative/field-divider.svg'
              alt='/'
              class='ammunition-separator-icon'
            />
            <span class='ammunition-magazine'>{{item.system.magazine}}</span>
          </span>
        {{else}}
          <span class='ammunition-ranged ammunition-display' data-weapon-id='{{item._id}}'>{{item.system.loadedAmmo}}</span>
        {{/if}}
      </div>
    {{/if}}
  {{/unless}}
</div>
