{{! Biography Tab }}
<section
  class='tab biography {{tab.cssClass}}'
  data-group='primary'
  data-tab='biography'
>
  {{#unless (eq actor.type "npc")}}
  <div class='rest-buttons flexrow flex-center'>
    <button type='button' class='rest-button trade-button' data-action='initiateTrade' title='Negociar Items com outros jogadores'>
      <i class='fas fa-handshake'></i> Negociar
    </button>
  </div>
  {{/unless}}
  
  {{! Effects Grid }}
  <div class='biography-secondary-grid'>
    {{! Effects Container }}
    <div class='effects-container'>
      <div class="effects-header">
        <h3>{{localize "CARDIGAN.Effect.Effects"}}</h3>
        <div class="effects-toggle">
          <label>
            <input
              type="checkbox"
              name="system.details.showEffectsTab"
              {{#if system.details.showEffectsTab}}checked{{/if}}
              data-dtype="Boolean"
            />
            {{localize "CARDIGAN.Tabs.ShowEffects"}}
          </label>
        </div>
        {{#if system.details.showEffectsTab}}
          <div class='effect-controls'>
          </div>
        {{/if}}
      </div>
      
      {{#if system.details.showEffectsTab}}
        {{! Unified Effects List - ActiveEffects and Items together }}
        {{! ActiveEffects are filtered to hide duplicates of Item efeitos }}
        <ol class='effects-list'>
          {{#each filteredEffects as |effect|}}
            <li
              class='effect flexrow'
              data-effect-id='{{effect.id}}'
              data-document-class='ActiveEffect'
            >
              <div class='effect-image'>
                <img src='{{effect.img}}' alt='{{effect.name}}' width='24' height='24' />
              </div>
              
              <div class='effect-name'>
                <h4 
                  data-tooltip="{{effect.name}}{{#if effect.flags.cardigan.descriptionPlainText}}<br><em>{{effect.flags.cardigan.descriptionPlainText}}</em>{{/if}}"
                  data-tooltip-direction="UP"
                  data-tooltip-class="cardigan-tooltip"
                  data-action="showEffectInChat"
                  data-effect-name="{{effect.name}}"
                  data-effect-description="{{effect.flags.cardigan.description}}"
                  class="clickable-effect"
                >
                  {{effect.name}}
                  {{#if effect.disabled}}<em> (Disabled)</em>{{/if}}
                </h4>
              </div>

              <div class='effect-controls flexrow'>
                {{#if @root.editable}}
                <a class='effect-control' data-action='deleteDoc' title='Delete Effect'>
                  <i class='fas fa-trash'></i>
                </a>
                {{/if}}
              </div>
            </li>
          {{/each}}

          {{#each efeitos as |efeito|}}
            <li
              class='effect flexrow'
              data-item-id='{{efeito.id}}'
              data-document-class='Item'
              data-drag="true"
            >
              <div class='effect-image'>
                <img src='{{efeito.img}}' alt='{{efeito.name}}' width='24' height='24' />
              </div>
              
              <div class='effect-name'>
                <h4 
                  data-tooltip-class="cardigan-tooltip effect-tooltip"
                  data-action="showEffectInChat"
                  data-effect-name="{{efeito.name}}"
                  data-effect-description="{{efeito.system.description}}"
                  class="clickable-effect effect-item"
                  data-item-uuid="{{efeito.uuid}}"
                >
                  {{efeito.name}}
                </h4>
              </div>

              <div class='effect-controls flexrow'>
                {{#if @root.editable}}
                <a class='effect-control' data-action='deleteDoc' title='Delete Efeito'>
                  <i class='fas fa-trash'></i>
                </a>
                {{/if}}
              </div>
            </li>
          {{/each}}

          {{#unless filteredEffects.length}}
            {{#unless efeitos}}
            <li class="no-effects">
              <span>No effects available</span>
            </li>
            {{/unless}}
          {{/unless}}
        </ol>
      {{/if}}
    </div>
  </div>
  
  {{! Character Details Container }}
  <div class='character-details-container'>
    <h3>Character Details</h3>
    
    {{! Nome }}
    <div class='detail-field'>
      <label>{{localize "CARDIGAN.Actor.base.FIELDS.details.name.label"}}:</label>
      <input
        type='text'
        name='system.details.name'
        value='{{system.details.name}}'
      />
    </div>
    
    {{! Idade }}
    <div class='detail-field'>
      <label>{{localize "CARDIGAN.Actor.base.FIELDS.details.age.label"}}:</label>
      <input
        type='number'
        name='system.details.age'
        value='{{system.details.age}}'
        data-dtype='Number'
        min='0'
      />
    </div>
  </div>

  {{! Additional Notes Container }}
  <div class='additional-notes-container'>
    <div class="additional-notes-header">
      <h3>Additional Notes</h3>
      <div class="additional-notes-toggle">
        <label>
          <input
            type="checkbox"
            name="system.details.showAdditionalNotes"
            {{#if system.details.showAdditionalNotes}}checked{{/if}}
            data-dtype="Boolean"
          />
          Show Additional Notes
        </label>
      </div>
    </div>
    {{#if system.details.showAdditionalNotes}}
      <section class='additional-notes-editor'>
        <textarea
          name="system.details.additionalNotes"
          rows="6"
          placeholder="Digite suas notas adicionais aqui..."
        >{{system.details.additionalNotes}}</textarea>
      </section>
    {{/if}}
  </div>
  
  {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
  {{#if editable}} 
    <prose-mirror name="system.biography" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}" collaborate="true" toggled="true">
      {{{enrichedBiography}}}
    </prose-mirror>
  {{else}} {{{enrichedBiography}}}
  {{/if}}
</section>