{{! Effects Tab - Fixed Version }}
<section
  class='tab effects flexcol {{tab.cssClass}}'
  data-group='primary'
  data-tab='effects'
>
  <div class="effects-header flexrow">
    <h3>{{localize "CARDIGAN.Effect.Effects"}}</h3>
    <div class='effect-controls'>
      <a
        class='effect-control btn'
        data-action='createDoc'
        data-document-class='Item'
        data-type='feature'
        data-name='Efeito'
        title='Create Efeito'
      >
        <i class='fas fa-plus'></i>
        New Efeito
      </a>
    </div>
  </div>

  <ol class='effects-list'>
    {{#if efeitos}}
      {{#each efeitos as |efeito|}}
        <li
          class='effect flexrow'
          data-item-id='{{efeito.id}}'
          data-document-class='Item'
          data-drag="true"
        >
          <div class='effect-image'>
            <img src='{{efeito.img}}' alt='{{efeito.name}}' width='24' height='24' />
          </div>
          
          <div class='effect-name'>
            <h4 
              data-tooltip="{{efeito.name}}{{#if efeito.system.description}}<br><em>{{efeito.system.description}}</em>{{/if}}"
              data-tooltip-direction="UP"
              data-tooltip-class="cardigan-tooltip"
              data-action="showEffectInChat"
              data-effect-name="{{efeito.name}}"
              data-effect-description="{{efeito.system.description}}"
              class="clickable-effect"
            >
              {{efeito.name}}
            </h4>
          </div>

          <div class='effect-controls flexrow'>
            {{#if @root.editable}}
            <a class='effect-control' data-action='deleteDoc' title='Delete Efeito'>
              <i class='fas fa-trash'></i>
            </a>
            {{/if}}
          </div>
        </li>
      {{else}}
        <li class="no-effects">
          <span>No efeitos</span>
        </li>
      {{/each}}
    {{else}}
      <li class="no-effects">
        <span>No efeitos available</span>
      </li>
    {{/if}}
  </ol>
</section>
