{{! Equipment Tab - Weapons Table }}
<section class='tab equipamentos {{tab.cssClass}}' data-group='primary' data-tab='equipamentos'>
  
  {{! Checkbox to control weapons table visibility }}
  <div class='form-group'>
    <label>
      <input
        type="checkbox"
        name="system.details.showWeaponsTable"
        {{#if system.details.showWeaponsTable}}checked{{/if}}
        data-dtype="Boolean"
      />
      {{localize "CARDIGAN.Tabs.ShowWeapons"}}
    </label>
  </div>

  {{#if system.details.showWeaponsTable}}
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-formula'>{{localize 'CARDIGAN.Hand'}}</div>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-attack'></div>
      {{#if (hasRangedWeapons armas)}}
      <div class='item-reload'></div>
      <div class='item-ammunition'>{{localize 'CARDIGAN.Ammunition'}}</div>
      {{/if}}
      <div class='item-durability'>{{localize 'CARDIGAN.Durability'}}</div>
      <div class='item-controls'>
        {{#if @root.editable}}
          <a
            class='item-control item-create'
            title='{{localize "DOCUMENT.Create" type='Item'}}'
            data-action='createDoc'
            data-document-class='Item'
            data-type='arma'
            data-name='Nova Arma'
          >
            <i class='fas fa-plus'></i>
            {{localize 'CARDIGAN.AddWeapon'}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each armas as |item id|}}
      <li
        class='item flexrow'
        data-item-id='{{item._id}}'
        data-drag='true'
        data-document-class='Item'
      >
        <div class='item-formula item-prop'>
          {{#if item.system.rightHand}}
            {{#if item.system.leftHand}}
              <span style='color: #4caf50; font-weight: bold;'>P+S</span>
            {{else}}
              <span style='color: #2196f3; font-weight: bold;'>P</span>
            {{/if}}
          {{else if item.system.leftHand}}
            <span style='color: #ff9800; font-weight: bold;'>S</span>
          {{else}}
            <span style='color: #666;'>-</span>
          {{/if}}
        </div>
        <div class='item-name {{#if (eq item.system.durability.current 0)}}item-name-broken{{/if}}'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div 
            class="weapon-name-hover"
            data-tooltip-direction="UP"
            data-tooltip-class="cardigan-tooltip"
            data-item-id="{{item._id}}"
            style="cursor: default;"
          >
            {{item.name}}
          </div>
        </div>
        <div class='item-attack'>
          {{#if (or item.system.rightHand item.system.leftHand)}}
            {{#if @root.editable}}
              <a
                class='item-control attack-weapon {{#if (eq item.system.durability.current 0)}}disabled{{/if}}'
                title='{{#if (eq item.system.durability.current 0)}}Arma quebrada - não pode atacar{{else}}Atacar com {{item.name}}{{/if}}'
                data-action='attackWithWeapon'
                data-item-id='{{item._id}}'
                style='color: {{#if (eq item.system.durability.current 0)}}#888; cursor: not-allowed{{else}}#d32f2f{{/if}}; font-size: 16px;'
                {{#if (eq item.system.durability.current 0)}}disabled{{/if}}
              >
                <i class='fas fa-crosshairs'></i>
              </a>
            {{/if}}
          {{/if}}
        </div>
        {{#if (hasRangedWeapons ../armas)}}
        <div class='item-reload'>
          {{#if item.system.ranged}}
            {{#if item.system.isFirearm}}
              {{#if @root.editable}}
                <a
                  class='item-control reload-ammunition'
                  title='{{localize "CARDIGAN.ReloadAmmunition"}}'
                  data-action='reloadAmmunition'
                  data-item-id='{{item._id}}'
                  style='color: #4caf50; font-size: 16px;'
                >
                  <i class='fas fa-sync-alt'></i>
                </a>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        <div class='item-ammunition'>
          {{#if item.system.ranged}}
            {{#if item.system.isFirearm}}
              {{#if @root.editable}}
                <input
                  type='number'
                  name='items.{{item._id}}.system.ammunition.current'
                  value='{{item.system.ammunition.current}}'
                  min='0'
                  max='{{item.system.ammunition.max}}'
                  data-dtype='Number'
                  style='width: 40px; text-align: center;'
                  title='Munição atual: {{item.system.ammunition.current}}/{{item.system.ammunition.max}}'
                />/<span style='color: #666;'>{{item.system.ammunition.max}}</span>
              {{else}}
                <span title='Munição atual: {{item.system.ammunition.current}}/{{item.system.ammunition.max}}'>
                  {{item.system.ammunition.current}}/{{item.system.ammunition.max}}
                </span>
              {{/if}}
            {{else}}
              {{#if @root.editable}}
                <input
                  type='number'
                  name='items.{{item._id}}.system.ammunition.current'
                  value='{{item.system.ammunition.current}}'
                  min='0'
                  data-dtype='Number'
                  style='width: 50px; text-align: center;'
                  title='Munição disponível: {{item.system.ammunition.current}}'
                />
              {{else}}
                <span title='Munição disponível: {{item.system.ammunition.current}}'>
                  {{item.system.ammunition.current}}
                </span>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        {{/if}}
        <div class='item-durability'>
          {{#if @root.editable}}
            <input
              type='number'
              name='items.{{item._id}}.system.durability.current'
              value='{{item.system.durability.current}}'
              min='0'
              max='{{item.system.durability.max}}'
              data-dtype='Number'
              style='width: 50px; text-align: center;'
              title='Durabilidade atual: {{item.system.durability.current}}/{{item.system.durability.max}}'
            />
          {{else}}
            <span title='Durabilidade atual: {{item.system.durability.current}}/{{item.system.durability.max}}'>
              {{item.system.durability.current}}
            </span>
          {{/if}}
        </div>
        <div class='item-controls'>
          {{#if @root.editable}}
            {{!-- Context Menu Button (Three Dots) --}}
            <button type="button" class="unbutton item-control always-interactive" data-context-menu
                    data-tooltip="Opções Adicionais" data-tooltip-direction="UP">
              <i class="fa-solid fa-ellipsis-vertical" inert></i>
            </button>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
</section>
{{/if}}

