{{! Equipment Tab - Weapons }}
<section class='tab equipamentos {{tab.cssClass}}' data-group='primary' data-tab='equipamentos'>
  
  {{! Checkbox to control weapons table visibility }}
  <div class='form-group'>
    <label>
      <input
        type="checkbox"
        name="system.details.showWeaponsTable"
        {{#if system.details.showWeaponsTable}}checked{{/if}}
        data-dtype="Boolean"
      />
      {{localize "CARDIGAN.Tabs.ShowWeapons"}}
    </label>
  </div>

  {{#if system.details.showWeaponsTable}}
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-formula'>{{localize 'CARDIGAN.Damage'}}</div>
      <div class='item-formula'>{{localize 'CARDIGAN.Hand'}}</div>
      <div class='item-controls'>
        {{#if @root.editable}}
          <a
            class='item-control item-create'
            title='{{localize "DOCUMENT.Create" type='Item'}}'
            data-action='createDoc'
            data-document-class='Item'
            data-type='arma'
            data-name='Nova Arma'
          >
            <i class='fas fa-plus'></i>
            {{localize 'CARDIGAN.AddWeapon'}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each armas as |item id|}}
      <li
        class='item flexrow'
        data-item-id='{{item._id}}'
        data-drag='true'
        data-document-class='Item'
      >
        <div class='item-name'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class='item-formula item-prop'>{{item.system.damage.value}} ({{item.system.damage.type}})</div>
        <div class='item-formula item-prop'>
          {{#if item.system.rightHand}}
            {{#if item.system.leftHand}}
              <span style='color: #4caf50; font-weight: bold;'>R+L</span>
            {{else}}
              <span style='color: #2196f3; font-weight: bold;'>R</span>
            {{/if}}
          {{else if item.system.leftHand}}
            <span style='color: #ff9800; font-weight: bold;'>L</span>
          {{else}}
            <span style='color: #666;'>-</span>
          {{/if}}
        </div>
        <div class='item-controls'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Update" type='Weapon'}}'
            data-action='editDoc'
            data-document-class='Item'
          >
            <i class='fas fa-edit'></i>
          </a>
          {{#if @root.editable}}
            <a
              class='item-control item-delete'
              title='{{localize "DOCUMENT.Delete" type='Weapon'}}'
              data-action='deleteDoc'
              data-document-class='Item'
            >
              <i class='fas fa-trash'></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
</section>
{{/if}}
