<section class='tab equipamentos {{tab.cssClass}}' data-group='primary' data-tab='equipamentos'>
  
  {{! Checkbox to control weapons table visibility }}
  <div class='form-group'>
    <label>
      <input
        type="checkbox"
        name="system.details.showWeaponsTable"
        {{#if system.details.showWeaponsTable}}checked{{/if}}
        data-dtype="Boolean"
      />
      {{localize "CARDIGAN.ShowWeapons"}}
    </label>
  </div>

  {{#if system.details.showWeaponsTable}}
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-formula'>{{localize 'CARDIGAN.Hand'}}</div>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-attack'></div>
      {{#if (hasRangedWeapons armas)}}
      <div class='item-reload'></div>
      <div class='item-ammunition'>{{localize 'CARDIGAN.Ammunition'}}</div>
      {{/if}}
      <div class='item-durability'>{{localize 'CARDIGAN.Durability'}}</div>
      <div class='item-unequip'>{{localize 'CARDIGAN.Unequip'}}</div>
      <div class='item-controls'>
    </li>
    {{#each armas as |item id|}}
      <li
        class='item collapsible collapsed'
        data-item-id='{{item._id}}'
        data-uuid='{{item.uuid}}'
        data-drag='true'
        data-document-class='Item'
      >
        {{!-- Item Row Summary --}}
        <div class="item-row flexrow">
        <div class='item-formula item-prop'>
          {{#if item.system.rightHand}}
            {{#if item.system.leftHand}}
              <span style='color: #4caf50; font-weight: bold;'>P+S</span>
            {{else}}
              <span style='color: #2196f3; font-weight: bold;'>P</span>
            {{/if}}
          {{else if item.system.leftHand}}
            <span style='color: #ff9800; font-weight: bold;'>S</span>
          {{else}}
            <span style='color: #666;'>-</span>
          {{/if}}
        </div>
        <div class='item-name {{#if (eq item.system.durability.current 0)}}item-name-broken{{/if}}'>
          <div class='item-image'>
            <a 
              class='rollable weapon-image-click' 
              data-roll-type='item' 
              data-action='weaponToChat'
              data-item-id='{{item._id}}'
              title='Clique para mostrar informações no chat'
            >
              <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div 
            class="weapon-name-hover"
            data-tooltip-direction="UP"
            data-tooltip-class="cardigan-tooltip"
            data-item-id="{{item._id}}"
            data-action="toggleExpand"
            style="cursor: pointer;"
          >
            {{item.name}}
          </div>
        </div>
        <div class='item-attack'>
          {{#if (or item.system.rightHand item.system.leftHand)}}
            {{#if @root.editable}}
              <a
                class='item-control attack-weapon {{#if (eq item.system.durability.current 0)}}disabled{{/if}}'
                title='{{#if (eq item.system.durability.current 0)}}Arma quebrada - não pode atacar{{else}}Atacar com {{item.name}}{{/if}}'
                data-action='attackWithWeapon'
                data-item-id='{{item._id}}'
                style='color: {{#if (eq item.system.durability.current 0)}}#888; cursor: not-allowed{{else}}#d32f2f{{/if}}; font-size: 16px;'
                {{#if (eq item.system.durability.current 0)}}disabled{{/if}}
              >
                <i class='fas fa-crosshairs'></i>
              </a>
            {{/if}}
          {{/if}}
        </div>
        {{#if (hasRangedWeapons ../armas)}}
        <div class='item-reload'>
          {{#if item.system.ranged}}
            {{#if item.system.isFirearm}}
              {{#if @root.editable}}
                <a
                  class='item-control reload-ammunition'
                  title='{{localize "CARDIGAN.ReloadAmmunition"}}'
                  data-action='reloadAmmunition'
                  data-item-id='{{item._id}}'
                  style='color: #4caf50; font-size: 16px;'
                >
                  <i class='fas fa-sync-alt'></i>
                </a>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        <div class='item-ammunition'>
          {{#if item.system.ranged}}
            {{#if item.system.isFirearm}}
              {{#if @root.editable}}
                <input
                  type='number'
                  name='items.{{item._id}}.system.ammunition.current'
                  value='{{item.system.ammunition.current}}'
                  min='0'
                  max='{{item.system.ammunition.max}}'
                  data-dtype='Number'
                  style='width: 40px; text-align: center;'
                  title='Munição atual: {{item.system.ammunition.current}}/{{item.system.ammunition.max}}'
                />/<span style='color: #666;'>{{item.system.ammunition.max}}</span>
              {{else}}
                <span title='Munição atual: {{item.system.ammunition.current}}/{{item.system.ammunition.max}}'>
                  {{item.system.ammunition.current}}/{{item.system.ammunition.max}}
                </span>
              {{/if}}
            {{else}}
              {{#if @root.editable}}
                <input
                  type='number'
                  name='items.{{item._id}}.system.ammunition.current'
                  value='{{item.system.ammunition.current}}'
                  min='0'
                  data-dtype='Number'
                  style='width: 50px; text-align: center;'
                  title='Munição disponível: {{item.system.ammunition.current}}'
                />
              {{else}}
                <span title='Munição disponível: {{item.system.ammunition.current}}'>
                  {{item.system.ammunition.current}}
                </span>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        {{/if}}
        <div class='item-durability'>
          {{#if @root.editable}}
            <input
              type='number'
              name='items.{{item._id}}.system.durability.current'
              value='{{item.system.durability.current}}'
              min='0'
              max='{{item.system.durability.max}}'
              data-dtype='Number'
              style='width: 50px; text-align: center;'
              title='Durabilidade atual: {{item.system.durability.current}}/{{item.system.durability.max}}'
            />
          {{else}}
            <span title='Durabilidade atual: {{item.system.durability.current}}/{{item.system.durability.max}}'>
              {{item.system.durability.current}}
            </span>
          {{/if}}
        </div>
        <div class='item-unequip'>
          {{#if @root.editable}}
            <a
              class='item-control unequip-weapon'
              title='{{localize "CARDIGAN.UnequipWeapon"}}'
              data-action='unequipWeapon'
              data-item-id='{{item._id}}'
              style='color: #ff5722; font-size: 16px;'
            >
              <i class='fas fa-times-circle'></i>
            </a>
          {{/if}}
        </div>
        <div class='item-controls'>
          {{#if @root.editable}}
            {{!-- Context Menu Button (Three Dots) --}}
            <button type="button" class="unbutton item-control always-interactive" data-context-menu
                    data-tooltip="Opções Adicionais" data-tooltip-direction="UP">
              <i class="fa-solid fa-ellipsis-vertical" inert></i>
            </button>
          {{/if}}
        </div>
        </div>
        
        {{!-- Expandable Description --}}
        <div class="item-description">
          <div class="wrapper">
            {{!-- Expanded content will be loaded here dynamically --}}
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
  {{/if}}

  {{! Spacer between weapons and backpack }}
  <div style="margin: 20px 0; border-bottom: 1px solid #444;"></div>

  {{! Armor Table - Equipped Armors }}
  <h3 class="items-section-header" style="margin-bottom: 10px; color: #c9c7b8; text-align: center;">
    <i class="fas fa-shield" style="margin-right: 8px;"></i>
    {{localize "CARDIGAN.ArmorTable"}}
  </h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-armor-type'>{{localize 'CARDIGAN.ArmorTypeLabel'}}</div>
      <div class='item-protection'>{{localize 'CARDIGAN.Protection'}}</div>
      <div class='item-durability'>{{localize 'CARDIGAN.Durability'}}</div>
      <div class='item-unequip'>{{localize 'CARDIGAN.Unequip'}}</div>
      <div class='item-controls'></div>
    </li>
    {{#each armaduras as |item id|}}
      <li
        class='item collapsible collapsed'
        data-item-id='{{item._id}}'
        data-uuid='{{item.uuid}}'
        data-drag='true'
        data-document-class='Item'
      >
        {{!-- Item Row Summary --}}
        <div class="item-row flexrow">
        <div class='item-name {{#if (eq item.system.durability.current 0)}}item-name-broken{{/if}}'>
          <div class='item-image'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </div>
          <div 
            class="armor-name-hover"
            data-tooltip-direction="UP"
            data-tooltip-class="cardigan-tooltip"
            data-item-id="{{item._id}}"
            data-action="toggleExpand"
            style="cursor: pointer;"
          >
            {{item.name}}
          </div>
        </div>
        <div class='item-armor-type'>
          {{localize (concat "CARDIGAN.ArmorType." (capitalize item.system.armorType))}}
        </div>
        <div class='item-protection'>
          {{item.system.protecao}}
        </div>
        <div class='item-durability'>
          {{#if @root.editable}}
            <input
              type='number'
              name='items.{{item._id}}.system.durability.current'
              value='{{item.system.durability.current}}'
              min='0'
              max='{{item.system.durability.max}}'
              data-dtype='Number'
              style='width: 50px; text-align: center;'
              title='Durabilidade atual: {{item.system.durability.current}}/{{item.system.durability.max}}'
            />
          {{else}}
            <span title='Durabilidade atual: {{item.system.durability.current}}/{{item.system.durability.max}}'>
              {{item.system.durability.current}}
            </span>
          {{/if}}
        </div>
        <div class='item-unequip'>
          {{#if @root.editable}}
            <button
              class='item-control unequip-armor-btn'
              title='{{localize "CARDIGAN.UnequipArmor"}}'
              data-action='unequipArmor'
              data-item-id='{{item._id}}'
            >
              <i class='fas fa-shield-slash'></i>
            </button>
          {{/if}}
        </div>
        <div class='item-controls'>
          {{#if @root.editable}}
            {{!-- Context Menu Button (Three Dots) for Armor Table --}}
            <a
              class='item-control item-options'
              title='{{localize "CARDIGAN.ItemOptions"}}'
              data-context-menu
              data-item-id='{{item._id}}'
            >
              <i class='fas fa-ellipsis-v'></i>
            </a>
          {{/if}}
        </div>
        </div>
        
        {{!-- Expandable Description --}}
        <div class="item-description">
          <div class="wrapper">
            {{!-- Expanded content will be loaded here dynamically --}}
          </div>
        </div>
      </li>
    {{/each}}
  </ol>

  {{! Spacer between armor and backpack }}
  <div style="margin: 20px 0; border-bottom: 1px solid #444;"></div>

  {{! Backpack Capacity Field }}
  <div class='mochila-container horizontal-field'>
    <label class='status-label label-left'>Backpack:</label>
    <div class='status-display {{#if (gte backpackSpacesOccupied system.backpack.max)}}backpack-full{{/if}}'>
      <input
        type='number'
        name='system.backpack.current'
        value='{{backpackSpacesOccupied}}'
        data-dtype='Number'
        min='0'
        class='status-current {{#if (gte backpackSpacesOccupied system.backpack.max)}}backpack-full-text{{/if}}'
        readonly
      />
      <span class='status-separator'>/</span>
      <input
        type='number'
        name='system.backpack.max'
        value='{{system.backpack.max}}'
        data-dtype='Number'
        min='0'
        class='status-next'
        readonly
      />
    </div>
    {{#if (gte backpackSpacesOccupied system.backpack.max)}}
      <div class='backpack-warning'>
        <i class="fas fa-exclamation-triangle"></i>
        {{localize 'CARDIGAN.BackpackFull'}}
      </div>
    {{/if}}
  </div>

  {{! Backpack Table - Always Visible }}
  <h3 class="items-section-header" style="margin-bottom: 10px; color: #c9c7b8; text-align: center;">
    <i class="fas fa-backpack" style="margin-right: 8px;"></i>
    {{localize "CARDIGAN.BackpackTable"}}
  </h3>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-quantity'>{{localize 'CARDIGAN.Quantity'}}</div>
      <div class='item-weight'>{{localize 'CARDIGAN.Weight'}}</div>
      <div class='item-equip'>{{localize 'CARDIGAN.Equip'}}</div>
      <div class='item-controls'>
        {{#if @root.editable}}
          <button
            class='item-control item-create-with-selection'
            title='{{localize "DOCUMENT.Create" type="Item"}}'
            data-action='createDocWithSelection'
          >
            <i class='fas fa-plus'></i>
            {{localize 'CARDIGAN.AddBackpack'}}
          </button>
        {{/if}}
      </div>
    </li>
    {{#each backpack as |item id|}}
      <li
        class='item flexrow'
        data-item-id='{{item._id}}'
        data-uuid='{{item.uuid}}'
        data-drag='true'
        data-document-class='Item'
      >
        <div class='item-name'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img
                src='{{item.img}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class='item-quantity'>
          {{#if @root.editable}}
            {{#if (or (eq item.type "item-comum") (eq item.type "item-municao") (eq item.type "item-consumivel"))}}
              <input
                type='number'
                name='items.{{item._id}}.system.quantity'
                value='{{item.system.quantity}}'
                min='0'
                data-dtype='Number'
                style='width: 60px; text-align: center;'
                title='Quantidade: {{item.system.quantity}}'
              />
            {{else}}
              <span title='Quantidade: {{item.system.quantity}}'>
                {{item.system.quantity}}
              </span>
            {{/if}}
          {{else}}
            <span title='Quantidade: {{item.system.quantity}}'>
              {{item.system.quantity}}
            </span>
          {{/if}}
                </div>
        <div class='item-weight'>{{abbreviateWeight item.system.weight}}</div>
        <div class='item-equip'>
          {{#if @root.editable}}
            {{#if (eq item.type "arma")}}
              <a
                class='item-control equip-weapon'
                title='{{localize "CARDIGAN.EquipWeapon"}}'
                data-action='equipWeapon'
                data-item-id='{{item._id}}'
                style='color: #4caf50; font-size: 16px;'
              >
                <i class='fas fa-shield-alt'></i>
              </a>
            {{else if (eq item.type "armadura")}}
              <a
                class='item-control equip-armor'
                title='{{localize "CARDIGAN.EquipArmor"}}'
                data-action='equipArmor'
                data-item-id='{{item._id}}'
                style='color: #2196f3; font-size: 16px;'
              >
                <i class='fas fa-shield'></i>
              </a>
            {{/if}}
          {{/if}}
        </div>
        <div class='item-controls'>
          {{#if @root.editable}}
            {{!-- Context Menu Button (Three Dots) for Backpack Table --}}
            <button type="button" class="unbutton item-control always-interactive" data-context-menu
                    data-tooltip="Opções Adicionais" data-tooltip-direction="UP" data-item-id="{{item._id}}">
              <i class="fa-solid fa-ellipsis-vertical" inert></i>
            </button>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
</section>

