{{! Features Tab }}
<section
  class='tab features {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <section class='grid grid-3col'>
    <aside class='sidebar'>
      {{! The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  }}
      <div class='custom-abilities-container' style='display: flex; flex-direction: column; gap: 6px;'>
        {{#each system.abilities as |ability key|}}
          <div class='custom-ability-row' style='display: grid; grid-template-columns: 85px 50px; gap: 15px; align-items: center; padding: 2px 4px;'>
            <label
              class='rollable'
              data-action='roll'
              data-roll='1d20+{{ability.value}}'
              data-label='{{localize (lookup @root.config.abilities key)}}'
              data-key='{{key}}'
              style='font-weight: bold; cursor: pointer; margin: 0; padding: 0; text-align: left;'
            >{{localize (lookup @root.config.abilities key)}}</label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              data-dtype='Number'
              style='width: 50px; text-align: center; border: 1px solid #ccc; padding: 2px;'
            />
          </div>
        {{/each}}
      </div>
    </aside>

    {{! For the main features list, span the right two columns }}
    <section class='main grid-span-2'>
      <ol class='items-list'>
        <li class='item flexrow items-header'>
          <div class='item-name'>{{localize 'Name'}}</div>
          <div class='item-controls'>
            {{#if @root.editable}}
              <a
                class='item-control item-create'
                title='Create item'
                data-action='createDoc'
                data-document-class='Item'
                data-type='feature'
              >
                <i class='fas fa-plus'></i>
                {{localize 'DOCUMENT.New' type='feature'}}
              </a>
            {{/if}}
          </div>
        </li>
        {{#each features as |item id|}}
          <li
            class='item flexrow'
            data-item-id='{{item._id}}'
            data-drag='true'
            data-document-class='Item'
          >
            <div class='item-name'>
              <div class='item-image'>
                <a class='rollable' data-roll-type='item' data-action='roll'>
                  <img
                    src='{{item.img}}'
                    title='{{item.name}}'
                    width='24'
                    height='24'
                  />
                </a>
              </div>
              <div>{{item.name}}</div>
            </div>
            <div class='item-controls'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Update" type='feature'}}'
                data-action='viewDoc'
              >
                <i class='fas fa-edit'></i>
              </a>
              {{#if @root.editable}}
                <a
                  class='item-control item-delete'
                  title='{{localize "DOCUMENT.Delete" type='feature'}}'
                  data-action='deleteDoc'
                >
                  <i class='fas fa-trash'></i>
                </a>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </section>
  </section>
</section>