{{! proficiencies Tab }}
<section
  class='tab proficiencies {{tab.cssClass}}'
  data-group='primary'
  data-tab='proficiencies'
>
  <img src='systems/cardigan/assets/images/decorative/divider.webp' class='proficiencies-divider-top-left' alt='Divider' />
  <img src='systems/cardigan/assets/images/decorative/divider.webp' class='proficiencies-divider-top-right' alt='Divider' />
  <section class='main proficiencies-tab-main'>
    {{! Proficiencies }}
    <div class='proficiencies'>
      {{! Combat Proficiencies - Accuracy & Evasion }}
      <div class='combat-proficiencies-container'>
        <img src='systems/cardigan/assets/images/decorative/accuracy-attack.webp' class='accuracy-attack-image' alt='Accuracy Attack' />
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.accuracy.totalBonus'
                value='{{system.abilities.accuracy.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='accuracy'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.accuracy.value'
                value='{{system.abilities.accuracy.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='accuracy'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label 
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Accuracy.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='accuracy'>
              {{localize "CARDIGAN.Ability.Accuracy.long"}}
            </label>
          </div>
        </div>
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.evasion.totalBonus'
                value='{{system.abilities.evasion.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='evasion'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.evasion.value'
                value='{{system.abilities.evasion.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='evasion'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Evasion.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='evasion'>
              {{localize "CARDIGAN.Ability.Evasion.long"}}
            </label>
          </div>
        </div>
        <img src='systems/cardigan/assets/images/decorative/evasion-defense.webp' class='evasion-defense-image' alt='Evasion Defense' />
      </div>

      {{! Attribute Proficiencies - Strength, Dexterity, Stamina, etc }}
      <div class='attribute-proficiencies-container'>
        {{! Strength }}
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.strength.totalBonus'
                value='{{system.abilities.strength.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='strength'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.strength.value'
                value='{{system.abilities.strength.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='strength'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label 
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Strength.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='strength'>
              {{localize "CARDIGAN.Ability.Strength.long"}}
            </label>
          </div>
        </div>

        {{! Dexterity }}
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.dexterity.totalBonus'
                value='{{system.abilities.dexterity.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='dexterity'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.dexterity.value'
                value='{{system.abilities.dexterity.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='dexterity'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Dexterity.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='dexterity'>
              {{localize "CARDIGAN.Ability.Dexterity.long"}}
            </label>
          </div>
        </div>

        {{! Stamina }}
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.stamina.totalBonus'
                value='{{system.abilities.stamina.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='stamina'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.stamina.value'
                value='{{system.abilities.stamina.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='stamina'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Stamina.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='stamina'>
              {{localize "CARDIGAN.Ability.Stamina.long"}}
            </label>
          </div>
        </div>

        {{! Stealth }}
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.stealth.totalBonus'
                value='{{system.abilities.stealth.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='stealth'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.stealth.value'
                value='{{system.abilities.stealth.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='stealth'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Stealth.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='stealth'>
              {{localize "CARDIGAN.Ability.Stealth.long"}}
            </label>
          </div>
        </div>

        {{! Persuasion }}
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.persuasion.totalBonus'
                value='{{system.abilities.persuasion.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='persuasion'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.persuasion.value'
                value='{{system.abilities.persuasion.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='persuasion'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Persuasion.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='persuasion'>
              {{localize "CARDIGAN.Ability.Persuasion.long"}}
            </label>
          </div>
        </div>

        {{! Intelligence }}
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.intelligence.totalBonus'
                value='{{system.abilities.intelligence.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='intelligence'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.intelligence.value'
                value='{{system.abilities.intelligence.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='intelligence'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Intelligence.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='intelligence'>
              {{localize "CARDIGAN.Ability.Intelligence.long"}}
            </label>
          </div>
        </div>

        {{! Psionics }}
        <div class='proficiencies-list'>
          <div class='proficiency-item'>
            <div class='bonus-container'>
              <input
                type='number'
                name='system.abilities.psionics.totalBonus'
                value='{{system.abilities.psionics.totalBonus}}'
                data-dtype='Number'
                class='bonus-input dynamic-field'
                data-ability='psionics'
                data-field='totalBonus'
              />
            </div>
            <div class='status-display'>
              <input
                type='number'
                name='system.abilities.psionics.value'
                value='{{system.abilities.psionics.value}}'
                data-dtype='Number'
                class='ability-value dynamic-field'
                data-ability='psionics'
                data-field='value'
              />
              <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
            </div>
          </div>
          <div class='proficiency-label-wrapper'>
            <label
              class='proficiency-clickable-label'
              data-tooltip='CARDIGAN.Ability.Psionics.full'
              data-tooltip-class='cardigan-tooltip'
              data-tooltip-type='proficiency'
              data-ability='psionics'>
              {{localize "CARDIGAN.Ability.Psionics.long"}}
            </label>
          </div>
        </div>
      </div>
  </section>

  {{! Effects Grid }}
  <div class='proficiencies-effects-grid'>
    {{! Effects Container }}
    <div class='proficiencies-effects-container'>
      <div class="effects-header">
        <div class="effects-toggle" >
          <input
            type="checkbox"
            name="system.details.showEffectsTab"
            {{#if system.details.showEffectsTab}}checked{{/if}}
            data-dtype="Boolean"
            style="display: none;"
          />
          <img 
            src="systems/cardigan/assets/images/effects/effects.webp" 
            alt="Toggle Effects" 
            class="effects-toggle-icon"
            data-action="toggleEffectsSection"
            data-tooltip='CARDIGAN.Tooltip.Effects' 
            data-tooltip-class='cardigan-tooltip'
          />
        </div>
        {{#if system.details.showEffectsTab}}
          <div class='effect-controls'>
          </div>
        {{/if}}
      </div>
      
      {{#if system.details.showEffectsTab}}
        <div class="effects-content-wrapper">
          <div class="add-effect-button-container" data-tooltip='CARDIGAN.Tooltip.AddEffects' data-tooltip-class='cardigan-tooltip'>
            <img 
              src="systems/cardigan/assets/images/decorative/icons/icon-add-effects.svg" 
              alt="Add Effect" 
              class="add-effect-icon"
              data-action="openEffectsSelection"
            />
          </div>
          {{! Unified Effects List - ActiveEffects and Items together }}
          {{! ActiveEffects are filtered to hide duplicates of Item efeitos }}
          <ol class='effects-list'>
          {{#each filteredEffects as |effect|}}
            <li
              class='effect flexrow'
              data-effect-id='{{effect.id}}'
              data-document-class='ActiveEffect'
            >
              <div class='effect-image'>
                <img 
                  src='{{effect.img}}' 
                  alt='{{effect.name}}' 
                  width='24' 
                  height='24'
                  data-action="sendEffectToChat"
                  data-effect-name="{{effect.name}}"
                  data-effect-description="{{effect.flags.cardigan.description}}"
                  data-effect-img="{{effect.img}}"
                  class="effect-image-clickable"
                />
                <div class="chat-icon"></div>
              </div>
              
              <div class='effect-name'>
                <h4               
                  data-action="showEffectInChat"
                  data-effect-name="{{effect.name}}"
                  data-effect-description="{{effect.flags.cardigan.description}}"
                  data-effect-img="{{effect.img}}"
                  data-tooltip-type="effect"
                  data-effect-type="active"
                  class="clickable-effect"
                >
                  {{effect.name}}
                  {{#if effect.disabled}}<em> (Disabled)</em>{{/if}}
                </h4>
              </div>

              <div class='effect-controls flexrow'>
                {{#if @root.editable}}
                <a class='effect-control' data-action='deleteDoc' title='Delete Effect'>
                  <img src='systems/cardigan/assets/images/decorative/icons/icon-delete.svg' alt='Delete' class='delete-icon' width='12' height='12' />
                </a>
                {{/if}}
              </div>
            </li>
          {{/each}}

          {{#each efeitos as |efeito|}}
            <li
              class='effect flexrow'
              data-item-id='{{efeito.id}}'
              data-document-class='Item'
              data-drag="true"
            >
              <div class='effect-image'>
                <img 
                  src='{{efeito.img}}' 
                  alt='{{efeito.name}}' 
                  width='24' 
                  height='24'
                  data-action="sendEffectToChat"
                  data-effect-name="{{efeito.name}}"
                  data-effect-description="{{efeito.system.description}}"
                  data-effect-img="{{efeito.img}}"
                  data-effect-rounds="{{efeito.system.rodadas}}"
                  class="effect-image-clickable"
                />
                <div class="chat-icon"></div>
              </div>
              
              <div class='effect-name'>
                <h4 
                  data-action="showEffectInChat"
                  data-effect-name="{{efeito.name}}"
                  data-effect-description="{{efeito.system.description}}"
                  data-effect-img="{{efeito.img}}"
                  data-tooltip-type="effect"
                  data-effect-type="item"
                  class="clickable-effect effect-item"
                  data-item-uuid="{{efeito.uuid}}"
                >
                  {{efeito.name}}
                </h4>
              </div>

              {{#if efeito.system.consumableTracking.isTrackingEffect}}
              <div class='item-quantity effect-consumed-quantity' data-tooltip='Quantidade consumida' data-tooltip-class='cardigan-tooltip'>
                <input
                  type='number'
                  value='{{efeito.system.consumableTracking.consumedQuantity}}'
                  min='0'
                  data-dtype='Number'
                  readonly
                  aria-label='Quantidade consumida'
                />
              </div>
              {{/if}}

              <div class='effect-rounds'>
                <img src="systems/cardigan/assets/images/decorative/icons/icon-clock.svg" alt="Rodadas" class="rounds-icon" width="16" height="16">
                <span class="rounds-value">{{#if efeito.system.rodadas}}{{#if (eq efeito.system.rodadas "infinito")}}<div class="rounds-infinite-icon"></div>{{else}}{{efeito.system.rodadas}}{{/if}}{{else}}0{{/if}}</span>
              </div>

              <div class='effect-controls flexrow'>
                {{#if @root.editable}}
                <a class='effect-control' data-action='deleteDoc' title='Delete Efeito'>
                  <img src='systems/cardigan/assets/images/decorative/icons/icon-delete.svg' alt='Delete' class='delete-icon' width='12' height='12' />
                </a>
                {{/if}}
              </div>
            </li>
          {{/each}}

          {{#unless filteredEffects.length}}
            {{#unless efeitos}}
            <li class="no-effects">
              <span>Nenhum efeito aplicado</span>
            </li>
            {{/unless}}
          {{/unless}}
        </ol>
        </div>
      {{/if}}
    </div>
  </div>
</section>
