<div class='cardigan-effect-chat-message'>
  {{! Actor Header }}
  <div class='actor-header'>
    <img src='{{actorImg}}' alt='{{actorName}}' class='actor-avatar' />
    <h2 class='actor-name'>{{actorName}}</h2>
  </div>

  {{! Effect Header }}
  <div class='effect-header'>
    <div class="effect-chat-icon">
        <img src='{{effectImg}}' alt='{{effectName}}' class='effect-icon' />
    </div>
    <p class='effect-subtitle'>SOB O EFEITO</p>
    <button class='effect-title toggle-effect-description' data-effect-id='{{effectName}}' type='button'>
      {{effectName}}
    </button>
  </div>

  {{! Effect Description }}
  {{#if effectDescription}}
  <div class='effect-description' data-effect-id='{{effectName}}' style='display: none;'>
    {{{effectDescription}}}
  </div>
  {{/if}}
</div>
