{{! Chat Roll Message Template - Unified template for all roll types }}
<div class='cardigan-roll-chat-message'>
  {{! Actor Header }}
  <div class='actor-header {{#if hasSpecialAction}}special-action{{/if}}'>
    <img src='{{actorImg}}' alt='{{actorName}}' class='actor-avatar' {{#if hasSpecialAction}}data-tooltip="{{actorName}}" data-tooltip-class="cardigan-chat-tooltip"{{/if}} />
    {{#if hasSpecialAction}}
      {{! Show attack icon and joint roll icon when special action is active }}
      <img src='systems/cardigan/assets/images/decorative/icons/icon-attack.svg' alt='Ataque' class='attack-icon' />
      {{#if isJointRoll}}
        <img src='systems/cardigan/assets/images/decorative/icons/icon-joint-attack.svg' alt='Rolagem em Conjunto' class='joint-roll-header-icon' data-tooltip="{{{targetNames}}}" data-tooltip-class="cardigan-chat-tooltip" />
      {{/if}}
    {{else}}
      {{! Show actor name when no special action }}
      <h2 class='actor-name'>{{actorName}}</h2>
    {{/if}}
  </div>

  {{! Roll Content }}
  <div class='roll-content'>
    <div class="roll-chat-icon">
      <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' alt='Dado' class='d20-icon' />
    </div>
    <div class='roll-title'>
      <p class='roll-subtitle'>TESTE DE</p>
      <strong>{{rollLabel}}</strong>
    </div>

    {{! Hand/Weapon Indicator }}
    {{#if handIndicator}}
      <div class='hand-indicator {{handIndicatorClass}}'>
        {{handIndicator}}
      </div>
    {{/if}}

    {{! Modifiers/Effects }}
    {{#if modifiers}}
      <div class='roll-modifiers'>
        {{#each modifiers}}
          <span class='modifier-badge'>{{this}}</span>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
