{{!-- Recipe Summary Template --}}
{{!-- Based on weapon-summary and armor-summary structure with Recipe-specific Layout --}}
<div class="recipe-summary">
  <div class="summary-content">
    
    {{!-- Recipe Layout: Image+Info on top, Description below --}}
    <div class="recipe-layout">
      
      {{!-- Top section: Image and Info side by side --}}
      <div class="recipe-top-section">
        
        {{!-- Left: Image only --}}
        <div class="recipe-left-section">
          <div class="recipe-image">
            <img src="{{item.img}}" alt="{{item.name}}" class="recipe-image" width="48" height="48">
          </div>
        </div>
        
        {{!-- Right: Name only --}}
        <div class="recipe-right-section">
          <div class="recipe-name">
            <h4>{{item.name}}</h4>
          </div>
        </div>
        
      </div>
      
      {{!-- Ingredients section: Below image and info --}}
      {{#if system.requiredIngredients}}
      <div class="recipe-ingredients-section">
        <div class="ingredients-list">
          {{#each system.requiredIngredients}}
          <div class="ingredient-item" title="{{name}}">
            <div class="ingredient-image" title="{{name}}">
              <img src="{{img}}" alt="{{name}}" class="ingredient-image" width="35" height="35" title="{{name}}">
            </div>
            <div class="ingredient-quantity {{#unless (hasEnoughIngredient name quantity)}}insufficient{{/unless}}" title="{{name}} ({{quantity}} necessário)">{{quantity}}</div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/if}}
      
      {{!-- Bottom section: Description full width --}}
      {{#if enrichedDescription}}
      <div class="recipe-description-below">
        {{{enrichedDescription}}}
      </div>
      {{/if}}
      
    </div>
    
  </div>
</div>