{{!-- Recipe Summary Template --}}
{{!-- Based on weapon-summary and armor-summary structure with Recipe-specific Layout --}}
<div class="recipe-summary">
  <div class="summary-content">
    
    {{!-- Recipe Type Property (Top Right Corner) --}}
    <div class="recipe-properties-top-right">
      {{#if (eq item.type "culinary-recipe")}}
        <i class="fas fa-utensils"></i>
        <span class="recipe-type-text">Culinária</span>
      {{else if (eq item.type "alchemy-recipe")}}
        <i class="fas fa-flask"></i>
        <span class="recipe-type-text">Alquimia</span>
      {{else if (eq item.type "blacksmithing-recipe")}}
        <i class="fas fa-hammer"></i>
        <span class="recipe-type-text">Forja</span>
      {{else if (eq item.type "carpentry-recipe")}}
        <i class="fas fa-tools"></i>
        <span class="recipe-type-text">Carpintaria</span>
      {{else if (eq item.type "tailoring-recipe")}}
        <i class="fas fa-cut"></i>
        <span class="recipe-type-text">Alfaiataria</span>
      {{else if (eq item.type "tecnomagic-recipe")}}
        <i class="fas fa-cogs"></i>
        <span class="recipe-type-text">Tecnomágica</span>
      {{else}}
        <i class="fas fa-book"></i>
        <span class="recipe-type-text">Geral</span>
      {{/if}}
    </div>
    
    {{!-- Recipe Layout: Image+Info on top, Description below --}}
    <div class="recipe-layout">
      
      {{!-- Top section: Image and Info side by side --}}
      <div class="recipe-top-section">
        
        {{!-- Left: Image only --}}
        <div class="recipe-left-section">
          <div class="recipe-image">
            <img src="{{item.img}}" alt="{{item.name}}" width="48" height="48">
          </div>
        </div>
        
        {{!-- Right: Name and Type --}}
        <div class="recipe-right-section">
          <div class="recipe-name">
            <h4>{{item.name}}</h4>
          </div>
          
          <div class="recipe-type">
            <em>
              {{#if (eq item.type "culinary-recipe")}}Receita Culinária
              {{else if (eq item.type "alchemy-recipe")}}Receita de Alquimia
              {{else if (eq item.type "blacksmithing-recipe")}}Receita de Forja
              {{else if (eq item.type "carpentry-recipe")}}Receita de Carpintaria
              {{else if (eq item.type "tailoring-recipe")}}Receita de Alfaiataria
              {{else if (eq item.type "tecnomagic-recipe")}}Receita Tecnomágica
              {{else}}Receita Geral
              {{/if}}
            </em>
          </div>
        </div>
        
      </div>
      
      {{!-- Ingredients section: Below image and info --}}
      {{#if system.requiredIngredients}}
      <div class="recipe-ingredients-section">
        <div class="ingredients-list">
          {{#each system.requiredIngredients}}
          <div class="ingredient-item" title="{{name}}">
            <div class="ingredient-image" title="{{name}}">
              <img src="{{img}}" alt="{{name}}" width="24" height="24" title="{{name}}">
            </div>
            <div class="ingredient-quantity {{#unless (hasEnoughIngredient name quantity)}}insufficient{{/unless}}" title="{{name}} ({{quantity}} necessário)">{{quantity}}</div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/if}}
      
      {{!-- Bottom section: Description full width --}}
      {{#if enrichedDescription}}
      <div class="recipe-description-below">
        {{{enrichedDescription}}}
      </div>
      {{/if}}
      
    </div>
    
  </div>
</div>