{{! Weapon Tooltip Template - D&D5e inspired horizontal layout }}
<div class="weapon-tooltip">

  {{! Propriedades da arma em linha horizontal (como D&D5e) - PRIMEIRO }}
  <div class="weapon-properties-horizontal">
    {{#if weapon.system.melee}}
      {{#if weapon.system.ranged}}
        <i class="fas fa-fist-raised"></i><span class="separator">/</span><i class="fas fa-bullseye"></i>
      {{else}}
        <i class="fas fa-fist-raised"></i>
      {{/if}}
    {{else if weapon.system.ranged}}
      <i class="fas fa-bullseye"></i>
    {{else}}
      <i class="fas fa-question" style="opacity: 0.5;"></i>
    {{/if}}
    <span class="property-separator">&nbsp;</span>
    <i class="fas fa-backpack"></i>
    <span class="weight-text">{{#if (eq weapon.system.weight "leve")}}Leve{{else}}Pesado{{/if}}</span>
  </div>

  {{! Imagem da arma - SEGUNDO (agora 32x32px) }}
  <div class="weapon-image">
    <img src="{{weapon.img}}" alt="{{weapon.name}}" />
  </div>
  
  {{! Nome da arma - TERCEIRO }}
  <div class="weapon-name-line">
    <strong>{{weapon.name}}</strong>
  </div>
  
  {{! Descrição da arma - QUARTO }}
  {{#if weapon.system.description}}
    <div class="weapon-description">
      <em>{{weapon.system.description}}</em>
    </div>
  {{/if}}
</div>
